.classic-header-layout{
    
    display: grid;
    grid-template-columns: .1fr .7fr .2fr;
    grid-template-row: 1fr 1fr 1fr;
    width: 100%;
    max-height: 12vh;
    padding: 1vh 2vw;
    
    &>figure{
        
        grid-column: 1/2;
        grid-row: 1/4;
        max-height: 10vh;
        
        &>img{
            
            max-height: 100%;
            border-radius: 20px;
        }
        
        &>figcaption{
            
            display: none;
        }
    }
    
    &>nav:first-of-type{
        
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    &>nav:last-of-type{
        
        grid-column: 3/4;
        grid-row: 2/3;
    }
}